numpy
pandas
requests
Flask
Flask-Compress
Jinja2
mysql-connector-python
plotly
python-dotenv
tqdm
yagmail
sqlalchemy
pre-commit
Flask-Session
PyPDF2
flask_sqlalchemy
pymysql
PyJWT
keyring
keyrings.alt
flasgger
openai
pydantic
flask-login
weasyprint