numpy
pandas
requests
Flask
Flask-Compress
Jinja2
keyring==21.2.1
keyrings.alt
mysql-connector-python
plotly
python-dotenv
tqdm
yagmail
sqlalchemy
pre-commit
Flask-Session
PyPDF2
flask_sqlalchemy
pymysql
PyJWT